body,html{
    color: white;
    padding: 0px;
    margin: 0px;
}

header
{
	height:150px;
	width:100%;
	display:flex;
	flex-direction:column;
	background-color:#0099e6;
}

header nav
{
    margin-left: 20vw;
}

header img
{
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-left: 20px;
}

header > div:first-of-type
{
	display:flex;
	flex-direction:row;
}

header > div:last-of-type
{
    background-color:#00407f;
}

header > div:last-of-type > p
{
    margin-left: 20px;
}

#menu li {
/* on place les liens du menu horizontalement */
    display: inline-block;
    margin: 0px 25px 0px 25px;
}
#menu ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu a {
    text-decoration: none;
    display: block;
    color: white;
    font-family: sans-serif;
    background-color: #0099e6;
    padding: 20px;
    font-family:sans-serif;
    font-size:25px;
}

/* Au survol des éléments menu */
#menu a:hover {
    color: white;
    background-color: #0089d3;
    color: yellow;
}

#menu ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    margin-left: -65px;
}

#menu li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
    width: 250px;
}

footer {
    position: relative;
    /*top:80%;*/
    font-family: sans-serif;
    color:white;
    height: 70px;
    background-color:#00407f;
}
footer > p {
    padding-top: 25px;
    padding-left: 50px;
    margin-bottom: 0px;
}

li > img {
    width: 15%;

}
nav~div{
    padding-top: 1px;
    padding-left: 20px;
    font-family: sans-serif;
    background-color: #00407f;
    height: 30px;
}
div>p
{
    font-size: 18;
    color: yellow;
}

#Page, #Page p
{
	color:black;
}